[Desktop Entry]
Name=MSEide
GenericName=IDE for Free Pascal
Comment=Free Pascal Cross Platform GUI Development System
Type=Application
Exec=mseide
Icon=mseide
Terminal=false
Categories=IDE;Development;
Keywords=fpc;ide;mse;pascal;


# Translations
Comment[ru]=Кроссплатформенная система разработки ПО на Free Pascal
GenericName[ru]=IDE для Free Pascal
Comment[uk]=Розробка мовою Free Pascal для багатьох платформ
GenericName[uk]=IDE для Free Pascal
Comment[pl]=Bezpłatny system programowania GUI platformy Pascal Cross
GenericName[pl]=IDE dla Free Pascal
